# Machine Learning Housing Corporation

In [1]:
# %load helpers/MPL_header.py %load common MPL imports 
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

In [2]:
import sys, sklearn, os
import numpy as np

In [3]:
%who_ls

['mpl', 'np', 'os', 'plt', 'sklearn', 'sys']

In [25]:
%run helpers/fetch_tar_data_pd.py --fetch --url='https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.tgz'

Assuming ENV path to the project /Users/gleb/software/ML_GPU/
Getting file https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.tgz
Downloading https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.tgz
0%....10%....20%....30%....40%....50%....60%....70%....80%....90%....100%
Extracting /Users/gleb/software/ML_GPU/DATA/housing.tgz
Removing .tgz file
ls in /Users/gleb/software/ML_GPU/DATA : ['housing.csv']

In [28]:
pd.read_csv('/Users/gleb/software/ML_GPU/DATA/housing.csv')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND